:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-yellow: #ffb964;
  --color-light-grey: #fcfaf9;
  --color-black: #191826;
  --radius: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: normal normal 400 1.6rem/2.6rem "IBM Plex Sans", serif;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  background-color: var(--color-light-grey);
  padding: 6.2rem 16.5rem 9.1rem;
  position: relative;
}

.pattern-1 {
  position: absolute;
  top: -4rem;
  right: 0;
}

header {
  max-width: 85.5rem;
}

.header__logo {
  margin-bottom: 12.7rem;
}

.header__heading {
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 8.8rem;
  letter-spacing: -1px;
  margin-bottom: 4rem;
}

.header__details {
  font-size: 2rem;
  line-height: 3.4rem;
  margin-bottom: 32.1rem;
}

.cta {
  height: 60rem;
  background-color: var(--color-black);
  border-radius: var(--radius);
  color: var(--color-light-grey);
  margin-bottom: 20.2rem;
  position: relative;
}

.cta__app {
  width: 31.2rem;
  height: auto;
  position: absolute;
  top: -21.3rem;
  left: 10.2rem;
  z-index: 2;
}

.pattern-2 {
  position: absolute;
  left: 33.6rem;
  top: -4rem;
}

.cta__copy {
  background-color: var(--color-orange);
  position: absolute;
  top: 9rem;
  right: 9.5rem;
  max-width: 44.6rem;
  padding: 5.8rem 5.4rem 4.8rem;
  border-radius: var(--radius);
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 13.7rem;
  /*justify-content: space-between;*/
}

.footer__copy {
  max-width: 36.6rem;
}

.footer_social {
  margin-left: auto;
  align-self: center;
}
